body
{
    background-color: gray;
}

a:link
{

    color:hotpink;
    background-color: #f00;
    border: solid 1px #d00;
    padding: 10px;
    margin: 10px;
    border-radius: 4px;
    
}

a:visited
{
    color: white;
}

a:hover
{
    color: white;
    background-color: #f55;
}

a:active
{
    color:black;
}